ul{
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: .5rem;
    margin-left: 2rem;
  }

  ol{
    list-style: none;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: .5rem;
    margin-left: 2rem;
  }

  nav{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 100;
  }

  .navbar{
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 100;
  }